<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.webappsecurity.tests.TestBase"/>
      <class name="assignments.MercuryToursTestNG"/>
      <class name="com.webappsecurity.tests.PayBillsPageTest"/>
      <class name="demos.DataProviderTest1"/>
      <class name="utils.ExtentReportDemo"/>
      <class name="com.webappsecurity.tests.ViewAccountSummary"/>
      <class name="demos.ListenersDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
